<header class="index-header">
  <ul class="index-header__ul">
    <li class="index-header__list">
      <a href="/" class="index-header__anchor">INFChal</a>
    </li>
    <li class="index-header__list">
      <a href="/celebrity" class="index-header__anchor">Celeb</a>
    </li>
    <li class="index-header__list">
      <a href="/mine" class="index-header__anchor">Mine</a>
    </li>
    <li class="index-header__list">
      <a href="/mind" class="index-header__anchor">Mind</a>
    </li>
    <li class="index-header__list">
      <a href="/admin/add-episode" class="index-header__anchor">Add Episode</a>
    </li>
    <li class="index-header__list">
      <a href="/admin/add-celebrity" class="index-header__anchor"
        >Add Celebrity</a
      >
    </li>
  </ul>
</header>
